body {
    text-align: center;
    font-family: 'Roboto Mono', mono;
    background-color: rgb(255, 205, 178, 0.3);
    color: white;
}

.calculator {
    border: 1px solid white;
    margin: 20vh auto 0 auto;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttons {
    display: grid;
    height: 400px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

button {
    font-family: 'Roboto Mono', mono;
    border: 1px solid transparent;
    color: white;
    font-size: 40px;
    background-color: #ffb4a2;
}

.binary{ 
    background-color: #b5838d;

}

.unary, #del, #clear {
    background-color: #e5989b;    
}

#equals {
    background-color: #6d6875;
}

#zero {
    grid-area: 5 / 1 / 5 / 3;
}

.output {
    height: 100px;
    grid-area: display;
    font-size: 35px;
    text-align: right;
    background-color: #ffcdb2;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

.answer{
    text-align: right;
    font-size: 50px;
}

button:hover {
    opacity: 0.5;
}