body {
    text-align: center;
    font-family: 'Roboto Mono', mono;
    background-color: rgb(255, 205, 178, 0.3);
    color: white;
}

.calculator {
    margin: 20vh auto 0 auto;
    width: 400px;
}

.buttons {
    display: grid;
    height: 400px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

button {
    font-family: 'Roboto Mono', mono;
    border: 1px solid transparent;
    color: white;
    font-size: 40px;
    background-color: #ffb4a2;
}

.binary{ 
    background-color: #b5838d;

}

.unary, #clear {
    background-color: #e5989b;    
}

#equals {
    background-color: #6d6875;
}

.display {
    height: 80px;
    grid-area: display;
    font-size: 70px;
    text-align: right;
    background-color: #ffcdb2;
}

#zero {
    grid-area: 5 / 1 / 5 / 3;
}

/* .pressed {
    background-color: pink;
} */

button:hover {
    opacity: 0.5;
}